$primary-color: #333;
* {
  font-size: 1rem;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #24292e;
  //   color: hsla(0, 0%, 100%, 0.7%);
  color: white;
  padding-bottom: 12px;
  padding-top: 12px;
  fill: white;
  align-items: flex-end;
  .left-header {
    display: flex;
    justify-content: flex-start;
    width: 50%;
    align-items: flex-end;
    span {
      padding: 0 15px;
    }
    a {
      fill: white;
      display: flex;
    }
  }
  .right-header {
    a {
      text-decoration: none;
      color: white;
    }
    display: flex;
    justify-content: flex-end;
  }
}

.footer {
  display: flex;
}
ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: center;
  li {
    margin: 0 15px;
  }
}

.gist-wrapper {
  //   padding: 40px;
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  .gist-description {
    display: flex;
    width: 100%;
    input {
      width: 100%;
      background-color: #fafbfc;
      font-size: 14px;
      background-color: #fff;
      background-position: right 8px center;
      background-repeat: no-repeat;
      border: 1px solid #d1d5da;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
      color: #24292e;
      font-size: 16px;
      line-height: 20px;
      min-height: 34px;
      outline: none;
      padding: 6px 8px;
      vertical-align: middle;
    }
  }

  .gist-box {
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 16px;
    margin-top: 16px;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 45px;

    .file-header {
      background-color: #fafbfc;
      border-bottom: 1px solid #e1e4e8;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;
      padding: 5px 10px;
      input {
        float: left;
        margin-right: 10px;
        width: 250px;
      }
    }
    textarea {
      background-color: #fff;
      background-position: right 8px center;
      background-repeat: no-repeat;
      border: 1px solid #d1d5da;
      border-radius: 3px;
      box-shadow: inset 0 1px 2px rgba(27, 31, 35, 0.075);
      color: #24292e;
      font-size: 16px;
      line-height: 20px;
      min-height: 34px;
      outline: none;
      //   padding: 6px 8px;
      vertical-align: middle;
      width: 100%;
      height: 414px;
    }
  }
}
.gist-button-wrapper {
  display: flex;
  margin-top: 20px;
}
.gist-button {
  background-color: #eff3f6;
  background-image: linear-gradient(-180deg, #fafbfc, #eff3f6 90%);
  color: #24292e;
  -moz-appearance: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-appearance: none;
  -webkit-user-select: none;
  appearance: none;
  background-position: -1px -1px;
  background-repeat: repeat-x;
  background-size: 110% 110%;
  border: 1px solid rgba(27, 31, 35, 0.2);
  border-radius: 0.25em;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.main-code-box {
  max-width: 1012px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  .is-empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .code-box {
    border: 1px solid rgba(27, 31, 35, 0.2);
  }
}
